body {
    font-family: "hoss-round", sans-serif;
    font-weight: 900;
    font-style: normal;

    margin: 0;
    color: #333;
    line-height: 1.6;
}

header {
    background: #fbed52;
    color: #000000;
    text-align: center;
    padding: 60px 20px;
}

.logo {
    display: block;
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 180px x 20 px;
    margin: auto;
}

@media (max-width: 768px) {
    .logo {
        max-width: 400px;
        padding: 200px x 20 px;
    }
}
section {
    max-width: 900px;
    margin: auto;
    align: center;
    padding: 120px 20px;
    text-align: center
}

h1,
h2 {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    border: 5px solid black;

    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 12px 20px;
}

.button:hover {
    background: #3600ff;
}

ul {
    padding-left: 0px;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.language-switch {
    text-align: right;
    padding: 15px;
}
