body {
    font-family: "hoss-round", sans-serif;
    font-weight: 900;
    font-style: normal;

    margin: 0;
    color: #333;
    line-height: 1.6;
}

header {
    background: #fbed52;
    color: #000;

    width: 100%;
    min-height: 100vh;

    text-align: center;

    padding: 200px 20px;
    box-sizing: border-box;
}

.logo {
    display: block;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) 
{ .logo { 
    max-width: 400px 
        padding: 140px x 20 px; 
}
}
section {
    max-width: 900px;
    margin: auto;
    align: center;
    padding: 120px 20px;
    text-align: center
}

h1,
h2 {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background: transparent; /* no fill */
    border: 3px solid #000;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    padding: 12px 20px;
    transition: all 0.3s ease;
}

.button:hover {
    background: #000000;
    border-color: #000000;
    color: #ffffff; /* white text for contrast */
}

ul {
    padding-left: 0px;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.language-switch {
    text-align: right;
    padding: 15px;
}
